[Unit]
Description=Vaultwarden password manager server
Before=local-fs.target
RequiresMountsFor=%t/containers %h/container-volumes/vaultwarden-data %h/container-volumes/vaultwarden-db-data

[Kube]
Yaml=/home/jordan/Projects/home-lab-helm/vaultwarden.yaml
Network=podman1.network
RemapUsers=keep-id

[Service]
Restart=always
TimeoutStartSec=infinity
TimeoutStopSec=1000

[Install]
WantedBy=multi-user.target default.target
