apiVersion: v1
kind: Secret
metadata:
  name: miniflux-secrets
type: Opaque
stringData:
  miniflux_admin_password: ''
  # Replace [password], including the square brackets, with the PostgreSQL password.
  miniflux_postgresql_url: 'postgres://miniflux:[password]@localhost/miniflux?sslmode=disable'
  miniflux_postgresql_password: ''
