[Unit]
Description=Nextcloud cron runner
Before=local-fs.target
After=nextcloud.service
Requires=nextcloud.service

[Service]
ExecCondition=/usr/bin/podman exec nextcloud-nextcloud-server /usr/local/bin/php -f /var/www/html/occ status -e
ExecStart=/usr/bin/podman exec nextcloud-nextcloud-server /usr/local/bin/php -f /var/www/html/cron.php
KillMode=process

[Service]
Restart=on-failure
