[Unit]
Description=Nextcloud cron runner
Before=local-fs.target
After=nextcloud.service

[Container]
ContainerName=nextcloud-cron
Exec=/usr/local/bin/php -f /var/www/html/cron.php
Group=818
Image=docker.io/library/nextcloud:fpm
Label=io.containers.autoupdate=registry
Network=podman.network
PodmanArgs=--pod=nextcloud
Timezone=local
User=818
Volume=%h/container-volumes/nextcloud-app:/var/www/html:z
Volume=%h/container-volumes/nextcloud-config:/var/www/html/config:z
Volume=%h/container-volumes/nextcloud-custom-apps:/var/www/html/custom_apps:z
Volume=%h/container-volumes/nextcloud-server-data:/var/www/html/data:z
Volume=%h/Projects/nextcloud-config/etc/php/conf.d/redis-session.ini:/usr/local/etc/php/conf.d/redis-session.ini:z
Volume=%h/Projects/nextcloud-config/etc/php-fpm.d/z-www-overrides.conf:/usr/local/etc/php-fpm.d/z-www-overrides.conf:z

[Service]
Restart=on-failure
