apiVersion: v1
kind: Secret
metadata:
  name: librenms-secrets
type: Opaque
stringData:
  librenms_mariadb_password: ""
  librenms_snmp_authentication_passphrase: ""
  librenms_snmp_privacy_passphrase: ""
